// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $white;
  font-family: $root-font-family-alpha;
  font-weight: 400;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 255, 255, .5);

    // `:focus` is linked to `:hover` for basic accessibility
    &:hover,
    &:focus {
      border-bottom: 3px solid $white;
    }

    strong {
      color: inherit;
    }
  }
}
