$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #F9D332;
$green: #90a959;
$cyan: #75b5aa;
$blue: #3855CA;
$white: #FFF;
// $blue: #6a9fb5;
$purple: #CFB2B2;

$root-font-family-alpha: "europa", "Helvetica Neue", Arial, sans-serif;
$root-font-family-beta: "chaparral-pro", Georgia, serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: $gray-3;
$body-bg: #fff;
$link-color: $gray-3;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;
