<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>


      <header>
        <div class="container content">
          <h1 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </h1>
          <h2 class="masthead-title">
            Designer at <a href="https://et-eais.com">Et Eais</a> in New York City.
          </h2>
          <hr>
        </div>
      </header>

      <div class="container content">
        <main>
          {{ content }}
        </main>

        <hr>

        <footer class="footer">
          <small>
            &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
          </small>
        </footer>
      </div>



  </body>
</html>
